body {
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
}

.container {
    height: 100%;

    display: flex;            /* flex-container */
    flex-direction: column;   /* flex-container */
}

.result {
    border: 1px solid black;
    background: #00f;
    color:#fff;
    padding-right: 10px;
    font-size: 15vmin;

    flex-grow: 1;    /* flex-item */

    display: flex;                /* flex-container */
    justify-content: flex-end;      /* flex-container */
    align-items: center;          /* flex-container */
}

.keypad {
    border: 1px solid black;

    flex-grow: 3;  /* flex-item */

    display: flex;        /* flex-container */
    flex-direction: row;  /* flex-container */

}

.numbers {
    flex-grow: 3;   /* flex-item */

    display: flex;          /* flex-container */
    flex-direction: row;    /* flex-container */
    flex-wrap: wrap;        /* flex-container */
}

.operations {
    flex-grow: 1;   /* flex-item */

    display: flex;               /* flex-container */
    flex-direction: column;      /* flex-container */
}

.button {
    border: 1px solid black;
    padding: 10px;

    font-size: 7vmin;  /* responsive font-size - 1vw = 1% of viewport width, 1vh = 1% of viewport height, 1vmin = 1vw or 1vh, whichever is smaller */

    display: flex;                /* flex-container */
    justify-content: center;      /* flex-container */
    align-items: center;          /* flex-container */
}

.number {
    flex-grow: 1;     /* flex-item */
    flex-basis: 25%;  /* flex-item */
}

.operator {
    flex-grow: 1;      /* flex-item */
}

